body {
    margin: 0;
    padding: 0;
    background-image: url('images/backgroundanao.png');
    background-size: cover;
    /* Faz com que a imagem cubra toda a tela */
    background-position: center;
    /* Centraliza a imagem no fundo */
    background-repeat: no-repeat;
    background-color: black;
    /* Evita que a imagem se repita */
    height: 100vh;
    /* Faz com que a altura do fundo seja igual à altura da viewport */
    width: 100vw;
    /* Faz com que a largura do fundo seja igual à largura da viewport */
}

button {
    position: relative;
    background-color: #B98556;
    left: 110%;
    border: none;
    font-family: MedievalSharp, bold;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    top: -30px
}

button:hover {
    cursor: pointer;
}

#subraca{
    margin: 5px;
    font-family: MedievalSharp, bold;
    color: white;
    margin-left: 0px;
    font-size: 32px;
}

#subraca-2{
    margin-bottom: 0px;
    color: white;
    font-size: 32px;
    font-family: MedievalSharp;
}
#subraca-1{
    margin: 0px;
    text-align: left;
    font-family: MedievalSharp, bold;
    color: white;
    font-size: 32px;
}
#raca strong{
    font-size: 96px;
}

#raca{
    font-family: MedievalSharp, bold;
    font-size: 78px;
    margin: 5px;
    color: white
}

#metodo{
    font-family: MedievalSharp, bold;
    font-size: 32px;
    color: white;
    margin: 5px;
    margin-left: 0px;
    margin-top: 30px
}
p{
    margin: 0px;
    font-family: Asap;
    font-size: 16px;
    color: white;
    margin-right: 38px;
}
.container {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*Barra de progressso*/
.container .progress-container {
    margin-bottom: 15px;
}

.container .progress-container h4 {
    margin: 0 0 5px 15px;
    letter-spacing: .5px;
}

.container .progress-container .progress-bar {
    position: relative;
    width: 348px;
    height: 14px;
    transform: skew(-20deg);
    background-color: rgb(0, 0, 0, 0.35);
    backdrop-filter: blur(4px);
    transform-origin: top left;
    top: 4px;
}

.container .progress-container .progress-bar span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: rgb(0, 0, 0);
    font-weight: 800;
    font-size: 12px;
    line-height: 1.2;
    text-align: center;
    background: #B98556;
    transition: width .5s linear;
}

.habilidades {
    position: absolute;
    left: 15px;
    font-family: MedievalSharp;
    color: #B98556;
    font-size: 20px;
}

.sub button {
    background-color: aqua;
    width: 100%;
    height: 100%;
    font-size: 200px
}

.scroll::-webkit-scrollbar {
    width: 12px;
    border: 1px solid rgba(200, 200, 200, 0);
}

.scroll::-webkit-scrollbar-thumb {
    margin: 0px;
    background-color: gold;
    border-radius: 6px;
}

.scroll {
    position: absolute;
    right: -20vh;
    top: 50vh;
    transform: translate(-50%, -50%);
    width: 562px;
    height: 660px;
    padding: 15px 2%;
    overflow-y: scroll;
    background: linear-gradient(-220deg,
            rgba(127, 127, 133, 0.42) 0%,
            rgba(49, 48, 94, 0.85) 50%,
            rgba(17, 6, 28, 0.85) 100%);
    backdrop-filter: blur(4px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.progress-bar-raca {
    display: flex;
    justify-items: center;
    position: relative;
    width: 50px;
    height: 14px;
    transform: skew(-20deg);
    background-color: rgb(0, 0, 0, 0.35);
    backdrop-filter: blur(4px);
    transform-origin: top left;
    top: -9.6px;
    right: 55px
}

.progress-bar-raca span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: rgb(0, 0, 0);
    font-weight: 800;
    font-size: 12px;
    line-height: 1.2;
    text-align: center;
    background: #B98556;
    transition: width .5s linear;
}
@media screen and (max-width:1368px) and (min-width: 768px){
    div.scroll{
        width: 70vh;
        height: 85vh
    }
    .progress-bar-raca{
        width: 40px;
        right: 50px
    }
    .container .progress-container .progress-bar {
        width: 250px;
        top: 6px
    }
    p{
        font-size: 14.2px
    }
    #raca{
        font-size: 48px;
    }
    #raca strong{
        font-size: 78px;
    }
    #metodo{
        font-size: 24px
    }

}

.bar-wrapper{
    flex-grow: 1;
}

.values-atributes {
    position: absolute;
    left: 15px;
    font-family: MedievalSharp;
    color: #B98556;
    font-size: 20px;
    top: 10px
}

.grid-molde{
    position: relative;
    display: grid;
    justify-content: space-evenly;
    gap: 50px;
    top: 7%;
    left: -41.8%;
    pointer-events: none;
}

.grid-raca{
    
    position: absolute;
    display: grid;
    justify-content: space-evenly;
    gap: 80px;
    top: 8%;
    left: 3%
}

.grid-raca .raca:hover{
    transition: transform 0.2s ease; 
    transform: scale(1.02);
    cursor: pointer;
}

