body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* Navbar */
.nav {
    height: 65px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10; /* Para garantir que o navbar esteja acima da imagem */
    background-color: rgba(0, 0, 0, 0.0); /* Fundo semitransparente */
    line-height: 65px;
    text-align: center;
}

.nav div.logo {
    padding-top: 1rem;
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
}

.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    color: white;
    font-size: 18px;
}

.nav div.main_list ul li a:hover {
    text-decoration: underline;
}

#container {
    position: relative;
    text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .container{
        margin: 0;
    }
}

@media screen and (max-width: 768px){
    .navTrigger{
        display: block;
    }
}

.figure-menu {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.hero-image {
    width: 100%;
    display: block;
}

.text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
    color: white;
    text-align: center;
}

.text1 {
    position: absolute;
    top: 210px; /* Define o y = 210px */
    left: 127px; /* Define o x = 127px */
    font-size: 48px;
    font-family: 'Inika';
    font-weight: bold;
    text-align: left;
}

.text2 {
    position: absolute;
    top: 338px; /* Define o y = 338px */
    left: 117px; /* Define o x = 127px */
    width: 608px; /* Define a largura de 608px */
    height: 220px; /* Define a altura de 220px */
    font-size: 26px;
    font-family: 'Asap';
    text-align: left;
    padding: 10px; /* Adiciona espaçamento interno */
    box-sizing: border-box; /* Garante que o padding seja incluído nas dimensões */
}

/*Botão Página de Raça*/
#container a.raca{
    position: absolute;
    top: 60%;
    left: 307px;
    transform: translateX(-50%);
    width: 347px;
    height: 80px;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255);
    color: #020326;
    border-radius: 14px;
    border: none;
    cursor: pointer;
    font-family: 'Inika';
    font-weight: bold;
    font-size: 32px;
    text-align: left;
    display: flex;
}

#container a.raca:hover {
    background-color: #020326;
    color: rgb(255, 255, 255);
    transition: .5s;
}

@media screen and (max-width: 768px) {
    #container a.raca {
        width: 90%; /* Botão ocupa mais espaço em telas menores */
        font-size: 24px; /* Tamanho do texto reduzido */
        height: 60px; /* Altura do botão reduzida */
    }
}

@media screen and (max-width: 480px) {
    #container a.raca {
        font-size: 18px; /* Tamanho do texto ainda menor */
        height: 50px; /* Altura ainda menor */
    }
}
.footer{
    height: 70px;
    background-color: #100D0B;
}