@import url('https://fonts.googleapis.com/css?family=Varela+Round');

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

/* Estilização do container da imagem */
.image {
    width: 100vh;
    /* Largura fixa de 490px */
    height: 100vh;
    /* Altura fixa de 768px */
    position: absolute;
    left: 0;
    /* Alinhado ao lado esquerdo */
    top: 50%;
    /* Centraliza verticalmente */
    transform: translateY(-50%);
    /* Ajusta para centralizar corretamente verticalmente */
}

/* Configuração da imagem */
img {
    width: 76%;
    /* A imagem ocupará toda a largura do container */
    height: 100%;
    /* A imagem ocupará toda a altura do container */
    object-fit: cover;
    /* Mantém a proporção da imagem enquanto preenche o container */
}

#text1 {
    position: absolute;
    display: inline;
    float: left;
    left: 80vh;
    top: 80px;
    font-size: 50px;
    font-family: 'Inika';
    font-weight: bold;
}

h1 {
    position: absolute;
    top: 45px;
    left: 86vh;
    font-size: 20px;
    color: #3E3E3E;
    font-weight: bold;
    font-family: 'Inika';
}

.btn-return {
    width: 24px;
    height: 22px;
}

.Return {
    position: absolute;
    background-color: #f4f4f4;
    top: 45px;
    left: 80vh;
    width: 41px;
    height: 41px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}

.Return:hover {
    background-color: #5e5e5e;
    transition: 0.5s;
}

.yellow-rect {
    position: absolute;
    width: 214px;
    height: 3px;
    top: 190px;
    left: 80vh;
    background-color: #FCD05B;
}

.formulario {
    position: absolute;
    top: 240px;
    /* Ajuste conforme necessário */
    left: 80vh;
    /* Ajuste conforme necessário */
    width: 300px;
    /* Ajuste conforme necessário */
}

.inputBox {
    margin-bottom: 60px;
    /* Espaço de 100px entre os inputs */
}

.inputUser {
    width: 713px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.inputUserS {
    width: 322px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.labelInput {
    font-family: 'Inika';
    font-weight: bold;
    font-size: 20px;
    color: #000000;
    display: block;
    margin-bottom: 10px;
}

#submit {

    width: 252px;
    height: 60px;
    background-color: #020326;
    color: #fff;
    border: none;
    border-radius: 29px;
    font-size: 26px;
    cursor: pointer;
    font-family: 'Inika';
    margin-top: 40px;

}

#submit:hover {
    background-color: #555;
}

.labelInputS {
    font-family: 'Inika';
    font-weight: bold;
    font-size: 20px;
    color: #000000;
    display: block;
    margin-bottom: 10px;
    width: 322px;
}

/* Estiliza o contêiner para os campos de senha */
.password-container {
    display: flex;
    gap: 40px;
    /* Espaço entre SENHA e CONFIRMAR SENHA */
}

.cadastrar {
    position: absolute;
    width: 411px;
    height: 73px;
    /* Ajusta a altura conforme o conteúdo */
    background-color: #F4F4F4;
    color: #000000;
    /* Cor do texto */
    text-align: center;
    top: 580px;
    left: 80vh;
    /* Ajuste conforme necessário */
    border: none;
    border-radius: 14px;
}

.cadastrar p {
    margin: 0;
    font-family: 'Asap', ;
    font-size: 18px;
}

.cadastrar a {
    color: #FCD05B;
    /* Cor do link */
    text-decoration: none;
    /* Remove o sublinhado do link */
    font-weight: bold;
}

.cadastrar a:hover {
    text-decoration: underline;
    /* Adiciona sublinhado no hover se desejado */
}

@media screen and (max-width: 1368px) and (min-width: 768px) {
    #text1 {
        top: 8vh;

    }
    .yellow-rect{
        top: 25vh;
    }
    #submit{
        top: 70vh;
        font-size: 20px;
        height: 50px;
        width: 140px
    }
    .formulario{
        top: 30vh;
    }
    .cadastrar{
        top: 80vh;
    }
    .inputBox{
        margin-bottom: 30px
    }
    h1{
        left: 88vh
    }
}